	* {
		margin: 0;
		padding: 0;
	}
	#iPhone_X___1 {
		position: absolute;
		box-sizing: border-box;
		transform: translateX(-50%) translateY(-50%);
		left: 50%;
		top: 50%;
		outline: 1px solid #A1A1A1;
		background: #E5E5E5;
		width: 375px;
		height: 810px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		opacity: 1;
	}

	#Search {
		opacity: 1;
		position: absolute;
		left: 161.5711669921875px;
		top: 701px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		width: 51px;
		white-space: nowrap;
		text-align: left;
	}

	.navbar {
		overflow: hidden;
		box-shadow: 2px 2px 10px lightgrey;
	}
	
	.navbar a {
		float: left;
		font-size: 16px;
		color: white;
		padding: 14px 16px;
		text-decoration: none;
	}

	.show {
		display: block;
	}

	#userLogo {
		width: 41px;
		float: right;
		fill: white;
		margin-top: -3px;
	}


	ul {
		list-style-type: none;
		overflow: hidden;
		border-bottom: 2px solid #707070;
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
		height: 60px;
	}
	
	#CouchCastLogo {
		float: left;
		width: 150px;
		margin: 15px 0px 0px 15px;
	}
	
	li a {
		color: white;
		text-align: center;
		text-decoration: none;
		outline: none;
		display: block;
	}
	#signup {
		background-color: white;
	}

	.loginSignupButton {
		margin-left: 188px;
		background-color: rgb(86, 156, 230);
		border: 0px;
		width: 100px;
		height: 34px;
		font-size: 16px;
		color:rgba(255,255,255,1);
		border-radius: 31px;
		font-weight: normal;
		margin-bottom: 14px;
	}

	html {
		font-family: helvetica neue;
	}

	h5 {
		color: red;
	}
	.circular {
		width: 70px; 
		height: 70px; 
		border: 1px solid black; 
		border-radius: 100px; 
		margin: 0px 0px -50px 40px;
		padding: 0px;
		display: inline-block;
	}
	#gameinfo {
		display: block;
	}
	#rectangularHolder {
		width: 350px; 
		height: 220px; 
		border: 2px solid rgb(86, 156, 230); 
		border-radius: 30px; 
		margin: auto;
		margin-top: 63px;
		box-shadow: 3px 3px 10px lightgrey;
	}
	#squareHolder {
		width: 200px; 
		height: 200px; 
		border: 1px solid rgb(86, 156, 230); 
		border-radius: 30px; 
		margin: auto;
		margin-top: 30px;
	}
	.buttons {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	#btn2 {
		background-color: rgb(86, 156, 230);
		border: 0px;
		width: 140px;
		height: 40px;
		margin-left: 100px;
		font-size: 16px;
		color:rgba(255,255,255,1);
		border-radius: 40px;
		box-shadow: 2px 2px 10px lightgrey;
		outline: none;
	}
	/*#btn2:hover {
		width: 142px;
	}
	#btn2:active {
		width: 140px;
	}*/

	#btn3 {
		background-color: black;
		border: 0px;
		width: 170px;
		height: 62px;
		margin-left: 10px;
		font-size: 16px;
		color:rgba(255,255,255,1);
		border-radius: 20px;
		box-shadow: 2px 2px 10px lightgrey;
	}

	.socialMedia {
		display: inline-block;
		width: 30px;
		margin-top: 10px;
		border-radius: 3px;
		box-shadow: 2px 2px 10px lightgrey;
	}
	#socialMediaContainer {
		margin-left: 36px;
	}
	#inputBox {
		font-family:Helvetica Neue;
		font-style:normal;
		font-weight:normal;
		font-size:16px;
		color:rgba(112,112,112,1);
		width: 300px;
		border: 0px;
		outline: none;
		opacity: 0.5;
		position: absolute;
		left: 36.3021240234375px;
		top: 80px;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid grey;
		overflow: hidden;
		width: 302.9989318847656px;
		height: 22px;
	}